#APP CONFIG
APP_NAME=cats-social
APP_PORT=8080
APP_ENV=local

# SQL CONFIG
DB_NAME=
DB_PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PARAMS="sslmode=disabled" # this is needed because in production, we use `sslrootcert=rds-ca-rsa2048-g1.pem` and `sslmode=verify-full` flag to connect
# read more: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/PostgreSQL.Concepts.General.SSL.html
JWT_SECRET=
BCRYPT_SALT=8 # don't use 8 in prod! use > 10